* {
    box-sizing: border-box;
}

body {
    min-height: 250px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    border: solid 2px rgb(9, 145, 9);
    border-radius: 5px;
    background-color: honeydew;
    padding: 20px;
    margin: 15px;
}

.btn {
    min-width: 80px;
    max-width: 100px;
    color: white;
    background-color: rgb(7, 130, 7);
    border-radius: 5px;
    box-shadow: none;
    padding: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.container #Horoskop {
    border-bottom: solid 2px grey;
    padding-bottom: 8px;
}

.box {
    min-height: 100px;
    max-height: 150px;
    border: solid 2px rgb(9, 145, 9);
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    overflow: auto;
}

p {
    margin-block-start: 0;
}

input {
    min-width: 150px;
}

#FizzBuzzResult {
    border-bottom: solid 2px grey;
    margin-bottom: 10px;
}

.reset {
    background-color: rgb(18, 68, 18);
}